.single-line {
  display: flex;
  gap: 10px;
}
.container {
  width: 40%;
  margin: auto;
  border: 1px solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 236, 222);
}
form {
  width: 100%;
}
.single-line > div {
  flex: 1;
  margin-top: 16px;
}
.single-line > input,
textarea {
  flex: 3;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

.submit-btn {
  padding: 10px 30px;
  margin-top: 30px;
  background-color: rgb(233, 181, 85);
  border: none;
}
body {
  padding: 20px;
}
@media only screen and (max-width: 786px) {
  .container {
    width: 96%;
    margin: auto;
  }
}
