.wholepage {
  width: 55vw;
  margin: auto;
  display: flex;
}
.main {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 243, 234);
}
.header {
  background-color: rgb(217, 162, 117);
  padding: 10px;
  margin: 0px;
}
.aboutData {
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 10px;
}
.body {
  padding: 10px;
  background-color: rgb(255, 243, 234);
}
.institute {
  font-size: 18px;
  font-weight: 500;
}
.contentPage {
  background-color: rgb(255, 243, 234);
  height: 96vh;
}
